/GHS_POP_E2020_GLOBE_R2023A_54009_100_V1_0
zcta_2020.parquet
.Rproj.user
.DS_Store
/oil-gas 
get_countries.R 
num_people_affected_helpers_partial_pixels.py
num_people_affected_helpers_partial_pixels_option_2.py